In [1]:
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from scipy.stats import linregress

### Raw Data Import

In [2]:
alldata = pd.read_csv("olympic_results_history.csv", parse_dates=True)
alldata

,Gender,Event,Location,Year,Medal,Name,Nationality,Result,Unnamed: 8
0,M,10000M Men,Rio,2016,G,Mohamed FARAH,USA,25:05.2,NaN
1,M,10000M Men,Rio,2016,S,Paul Kipngetich TANUI,KEN,27:05.6,NaN
2,M,10000M Men,Rio,2016,B,Tamirat TOLA,ETH,27:06.3,NaN
3,M,10000M Men,Beijing,2008,G,Kenenisa BEKELE,ETH,27:01.2,NaN
4,M,10000M Men,Beijing,2008,S,Sileshi SIHINE,ETH,27:02.8,NaN
...,...,...,...,...,...,...,...,...,...
2389,W,Triple Jump Women,Athens,2004,S,Hrysopiyi DEVETZI,GRE,15.25,NaN
2390,W,Triple Jump Women,Athens,2004,B,Tatyana LEBEDEVA,RUS,15.14,NaN
2391,W,Triple Jump Women,Atlanta,1996,G,Inessa KRAVETS,UKR,15.33,NaN
2392,W,Triple Jump Women,Atlanta,1996,S,Inna LASOVSKAYA,RUS,14.98,NaN
2393,W,Triple Jump Women,Atlanta,1996,B,Sarka KASPARKOVA,CZE,14.98,NaN

In [3]:
alldata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2394 entries, 0 to 2393
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Gender       2394 non-null   object
 1   Event        2394 non-null   object
 2   Location     2394 non-null   object
 3   Year         2394 non-null   int64
 4   Medal        2394 non-null   object
 5   Name         2164 non-null   object
 6   Nationality  2394 non-null   object
 7   Result       2394 non-null   object
 8   Unnamed: 8   12 non-null     float64
dtypes: float64(1), int64(1), object(7)
memory usage: 168.5+ KB

### Data Cleaning

In [4]:
# Dropping columns

alldata.drop(['Unnamed: 8'], axis=1, inplace=True)
alldata

,Gender,Event,Location,Year,Medal,Name,Nationality,Result
0,M,10000M Men,Rio,2016,G,Mohamed FARAH,USA,25:05.2
1,M,10000M Men,Rio,2016,S,Paul Kipngetich TANUI,KEN,27:05.6
2,M,10000M Men,Rio,2016,B,Tamirat TOLA,ETH,27:06.3
3,M,10000M Men,Beijing,2008,G,Kenenisa BEKELE,ETH,27:01.2
4,M,10000M Men,Beijing,2008,S,Sileshi SIHINE,ETH,27:02.8
...,...,...,...,...,...,...,...,...
2389,W,Triple Jump Women,Athens,2004,S,Hrysopiyi DEVETZI,GRE,15.25
2390,W,Triple Jump Women,Athens,2004,B,Tatyana LEBEDEVA,RUS,15.14
2391,W,Triple Jump Women,Atlanta,1996,G,Inessa KRAVETS,UKR,15.33
2392,W,Triple Jump Women,Atlanta,1996,S,Inna LASOVSKAYA,RUS,14.98
2393,W,Triple Jump Women,Atlanta,1996,B,Sarka KASPARKOVA,CZE,14.98

### Filter for 100m Men

In [5]:
men100m = alldata.loc[(alldata['Event'] == '100M Men')]
print(len(men100m))
men100m

82

,Gender,Event,Location,Year,Medal,Name,Nationality,Result
69,M,100M Men,Rio,2016,G,Usain BOLT,JAM,9.81
70,M,100M Men,Rio,2016,S,Justin GATLIN,USA,9.89
71,M,100M Men,Rio,2016,B,Andre DE GRASSE,CAN,9.91
72,M,100M Men,Beijing,2008,G,Usain BOLT,JAM,9.69
73,M,100M Men,Beijing,2008,S,Richard THOMPSON,TTO,9.89
...,...,...,...,...,...,...,...,...
146,M,100M Men,St Louis,1904,B,William HOGENSON,USA,11.2
147,M,100M Men,Athens,1896,G,Thomas BURKE,USA,12
148,M,100M Men,Athens,1896,S,Fritz HOFMANN,GER,12.2
149,M,100M Men,Athens,1896,B,Alajos SZOKOLYI,HUN,12.6
150,M,100M Men,Athens,1896,B,Francis LANE,USA,12.6

In [6]:
# Creating copy to overwrite.

men100m_clean=men100m.copy()

In [7]:
# Removing null values.  2 Result values were "None" so I removed them.

remove_null = men100m_clean.loc[men100m_clean['Result'] == 'None'].index
men100m_clean.drop(remove_null , inplace=True)
men100m_clean

,Gender,Event,Location,Year,Medal,Name,Nationality,Result
69,M,100M Men,Rio,2016,G,Usain BOLT,JAM,9.81
70,M,100M Men,Rio,2016,S,Justin GATLIN,USA,9.89
71,M,100M Men,Rio,2016,B,Andre DE GRASSE,CAN,9.91
72,M,100M Men,Beijing,2008,G,Usain BOLT,JAM,9.69
73,M,100M Men,Beijing,2008,S,Richard THOMPSON,TTO,9.89
...,...,...,...,...,...,...,...,...
146,M,100M Men,St Louis,1904,B,William HOGENSON,USA,11.2
147,M,100M Men,Athens,1896,G,Thomas BURKE,USA,12
148,M,100M Men,Athens,1896,S,Fritz HOFMANN,GER,12.2
149,M,100M Men,Athens,1896,B,Alajos SZOKOLYI,HUN,12.6
150,M,100M Men,Athens,1896,B,Francis LANE,USA,12.6

In [8]:
# men100m_clean.info()

In [9]:
# Change the Results column to a float

men100m_clean['Result'] = men100m_clean['Result'].astype(float)

In [10]:
len(men100m_clean)

80

In [11]:
# Sorting by Year

men100m_clean.sort_values('Year', ascending=False)

    Gender     Event Location  Year Medal             Name Nationality  Result
69       M  100M Men      Rio  2016     G       Usain BOLT         JAM    9.81
70       M  100M Men      Rio  2016     S    Justin GATLIN         USA    9.89
71       M  100M Men      Rio  2016     B  Andre DE GRASSE         CAN    9.91
113      M  100M Men   London  2012     B    Justin GATLIN         USA    9.79
112      M  100M Men   London  2012     S      Yohan BLAKE         JAM    9.75
..     ...       ...      ...   ...   ...              ...         ...     ...
108      M  100M Men    Paris  1900     G     Frank JARVIS         USA   11.00
147      M  100M Men   Athens  1896     G     Thomas BURKE         USA   12.00
148      M  100M Men   Athens  1896     S    Fritz HOFMANN         GER   12.20
149      M  100M Men   Athens  1896     B  Alajos SZOKOLYI         HUN   12.60
150      M  100M Men   Athens  1896     B     Francis LANE         USA   12.60

[80 rows x 8 columns]

In [12]:
# Output to CSV

men100m_clean.to_csv("./damiso_men_100m_cleaned.csv", index=False, header=True)

### Create dataframe with my target columns for my Model

In [13]:
# Select my target columns

men100m_df = men100m_clean[['Year', 'Result', 'Medal']]
men100m_df.head()

    Year  Result Medal
69  2016    9.81     G
70  2016    9.89     S
71  2016    9.91     B
72  2008    9.69     G
73  2008    9.89     S

In [14]:
# Output to CSV

men100m_df.to_csv("./damiso_men_100m_target.csv", index=False, header=True)

In [15]:
# Reshaping my target array

X = men100m_df["Year"].values.reshape(-1, 1)
y = men100m_df["Result"].values.reshape(-1, 1)

print("Shape: ", X.shape, y.shape)

Shape:  (80, 1) (80, 1)

### Train Test Split

In [16]:
# Train Test Split

from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42, train_size = .85)

In [17]:
X_train.shape
# y_train.shape

(68, 1)

In [18]:
X_test.shape

(12, 1)

### Adding 2020 to the Test

In [19]:
# creating new X_test

new_X_test = X_test

In [20]:
# Adding 2020 to the X_test array and reshaping it.

X3 = np.append([new_X_test],[2020])
X3 = X3.reshape(-1, 1)
X3.shape

(13, 1)

In [21]:
# creating new y_test

new_y_test = y_test

In [22]:
# Adding 2020 results to the y_test array and reshaping it.

y3 = np.append([new_y_test], [9.80])
y3 = y3.reshape(-1,1)
y3.shape

(13, 1)

### Create my Model

In [23]:
# Create the model

from sklearn.linear_model import LinearRegression

model = LinearRegression()

In [24]:
# Fit the model to the training data. 

model.fit(X_train, y_train)

LinearRegression()

In [25]:
# Calculate the mean_squared_error and the r-squared value for the testing data

from sklearn.metrics import mean_squared_error, r2_score

# Use our model to make predictions
predicted = model.predict(X3)

# Score the predictions with mse and r2
mse = mean_squared_error(y3, predicted)
r2 = r2_score(y3, predicted)


print(f"Mean Squared Error (MSE): {mse}")
print(f"R-squared (R2 ): {r2}")

Mean Squared Error (MSE): 0.04646579833710119
R-squared (R2 ): 0.7145710991941663

In [26]:
# Call the `score` method on the model to show the r2 score

model.score(X3, y3)

0.7145710991941663

In [54]:
# Creating final DataFrame for export

new_df = pd.DataFrame(X3)
new_df['Actual'] = pd.DataFrame(y3)
new_df['Predicted'] = pd.DataFrame(predicted).round(2)
new_df.columns = ['Year', 'Actual', 'Predicted']
new_df.sort_values('Year', ascending=False, inplace = True)
new_df.drop_duplicates(subset='Year', ignore_index=True, inplace = True)

In [55]:
# Output to CSV

new_df.to_csv("./damiso_men_100m_linear_regression_output.csv", index=False, header=True)

# New Model for Mens 200m

### Cleaning data

In [29]:
### Filter by 200M

men200m=alldata.loc[(alldata['Event'] == '200M Men')]
len(men200m)

78

In [30]:
# Creating a copy to overwrite.

men200_clean = men200m.copy()

In [31]:
# Removing null values.  2 Result values were "None" so I removed them.

remove_null = men200_clean.loc[men200_clean['Result'] == 'None'].index
men200_clean.drop(remove_null , inplace=True)
# men200_clean.head()

In [32]:
len(men200_clean)

75

In [33]:
# Change the Result column to a float.

men200_clean['Result'] = men200_clean['Result'].astype(float)

In [34]:
# men200_clean.info()

In [35]:
men200_clean

,Gender,Event,Location,Year,Medal,Name,Nationality,Result
312,M,200M Men,Rio,2016,G,Usain BOLT,JAM,19.78
313,M,200M Men,Rio,2016,S,Andre DE GRASSE,CAN,20.02
314,M,200M Men,Rio,2016,B,Christophe LEMAITRE,FRA,20.12
315,M,200M Men,Beijing,2008,G,Usain BOLT,JAM,19.30
316,M,200M Men,Beijing,2008,S,Shawn CRAWFORD,USA,19.96
...,...,...,...,...,...,...,...,...
384,M,200M Men,Stockholm,1912,G,Ralph CRAIG,USA,21.70
385,M,200M Men,Stockholm,1912,S,Donald LIPPINCOTT,USA,21.80
386,M,200M Men,Stockholm,1912,B,William APPLEGARTH,GBR,22.00
387,M,200M Men,St Louis,1904,G,Archie HAHN,USA,21.60
388,M,200M Men,St Louis,1904,S,Nate CARTMELL,USA,21.90

In [36]:
# Output to CSV

men200_clean.to_csv("./damiso_men_200m_cleaned.csv", index=False, header=True)

In [37]:
# Select my target columns

men200m_df = men200_clean[['Year', 'Result']]
men200m_df.head()

     Year  Result
312  2016   19.78
313  2016   20.02
314  2016   20.12
315  2008   19.30
316  2008   19.96

In [38]:
# Output to CSV
men200m_df.to_csv("./damiso_men_200m_target.csv", index=False, header=True)

In [39]:
# men200m_df.info()

In [40]:
X2 = men200m_df["Year"].values.reshape(-1, 1)
y2 = men200m_df["Result"].values.reshape(-1, 1)

print("Shape: ", X2.shape, y2.shape)

Shape:  (75, 1) (75, 1)

### Train Test Split

In [41]:
# Train Test Split

from sklearn.model_selection import train_test_split

X2_train, X2_test, y2_train, y2_test = train_test_split(X2, y2, random_state=42, train_size = .85)

In [42]:
X2_test.shape

(12, 1)

In [43]:
y2_test.shape

(12, 1)

### Adding 2020 to the Test

In [44]:
# Creating new X2_test, appending the 2020 Year and Results and reshaping.

new_X2_test = X2_test
X6 = np.append([new_X2_test],[2020])
X6 = X6.reshape(-1, 1)
X6.shape
# X6

(13, 1)

In [45]:
# Creating new y2_test, appending the 2020 Year and Results and reshaping.

new_y2_test = y2_test
y6 = np.append([new_y2_test],[19.62])
y6 = y6.reshape(-1, 1)
y6.shape

(13, 1)

### Create my Model

In [46]:
# Create the model

from sklearn.linear_model import LinearRegression

model = LinearRegression()

### Fit the Model

In [47]:
# Fit the model to the training data. 

model.fit(X2_train, y2_train)

LinearRegression()

In [48]:
# Calculate the mean_squared_error and the r-squared value for the testing data

from sklearn.metrics import mean_squared_error, r2_score

# Use our model to make predictions
predicted2 = model.predict(X6)

# Score the predictions with mse and r2
mse = mean_squared_error(y6, predicted2)
r2 = r2_score(y6, predicted2)


print(f"Mean Squared Error (MSE): {mse}")
print(f"R-squared (R2 ): {r2}")

Mean Squared Error (MSE): 0.09920912392936837
R-squared (R2 ): 0.881152821453135

In [49]:
# Call the `score` method on the model to show the r2 score

model.score(X6, y6)

0.881152821453135

In [52]:
# Creating final DataFrame for export

last_df = pd.DataFrame(X6)
last_df['Actual'] = pd.DataFrame(y6)
last_df['Predicted'] = pd.DataFrame(predicted2).round(2)
last_df.columns = ['Year', 'Actual', 'Predicted']
last_df.sort_values('Year', ascending=False, inplace = True)
last_df.drop_duplicates(subset='Year', ignore_index=True, inplace = True)

In [53]:
# Output to CSV

last_df.to_csv("./damiso_men_200m_linear_regression_output.csv", index=False, header=True)